{% extends 'base.html.twig' %}

{% block title %}Edit Lecon{% endblock %}

{% block body %}
    <h1>Modifier votre Leçon!</h1>
   <div>

    {{ include('lecon/_form.html.twig', {'button_label': 'Enregistrer'}) }}



   </div>

{% endblock %}
