{% extends 'base.html.twig' %}

{% block title %}New Lecon{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajout d'une leçon</h1>


        {{ include('lecon/_form.html.twig') }}

    </div>


{% endblock %}
